public-hoist-pattern[]=*
auto-install-peers=true
side-effects-cache=true
# Industrial-Grade build script authorization
only-built-dependencies=@parcel/watcher,esbuild,protobufjs,sharp,workerd,@swc/core
